html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}
canvas {
  display: block;
}
#sketch-parent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-style: inset;
    border-width: thick;
  }
